html {
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}
.p-0 {
	padding: 0;
}
.mb-0 {
	margin-bottom: 0;
}
/*  navbar  */
.navbar-light .navbar-nav .nav-link {
	color: #707070;
	font-weight: 700;
	 position: relative;
}
.navbar-light .navbar-nav .nav-link.active:after {
	content: "";
  	background: #02A4EF;
  	position: absolute;
  	bottom: 0;
  	left: 38%;
  	top:42px;
  	height: 18%;
  	width: 25%;
}
.navbar-light .navbar-nav .nav-link.active {
	color: black;
/*	border-bottom: 5px solid #02A4EF;
*/	font-weight: 500;
}
.fixed-top {
	background-color: #EDEDED;
}
/*  end-navbar  */
.first-div {
	margin: 0;
	width: 100%;
	height: 100vh;
	background-image: url('Page 1 circle.svg'), url('Page 1 mini circle.svg'), url('Page 1 Left Bottom.svg'), url('Page 1 Right Top.svg'), url('Page 1 Right Bottom.svg');
	background-size: 80% 80%, 40% 40%, 40% 40%, 40% 40%, 40% 40% ;
    background-position: center, left top, left bottom, right top, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}
.centered1,
.centered2,
.centered-logo img{
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 10vh;
	color: #707070;
	font-weight: 700;
}
.centered-logo img{
	top:35%;
	height: 30vh;
	width:30vh;
}
.centered2 {
	top: 70%;
	text-align: center;
	font-size: 2.5vh;
	font-weight: 500;
}
/*    Scroll   */
.scroll-down-dude {
	position: absolute;
	bottom: 0;
	left: 50%;
	padding-bottom: 3em;
}

/* EVENT.HTML START*/
.title_text{
  color: #707070;
  padding-top: 2%;
	font-weight: 700;
	font-size: 8vh;
}
.title_uptext{
	color: #707070;
	padding-top: 2%;
	font-weight: 400;
	font-size: 3vh;

}
.card_body_text{
	font-size: 1rem;
	color: #707070;
	font-weight: 400;
	word-spacing: 2vh;
	line-height: 0.5cm;
}


.title-pad{
	padding-top: 2%;
	position: relative;
	bottom: 10%
}
.date-pad{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
.bg-event{
	background-image: url('Page 3 Triangle.svg'), url('Page 2 circle.svg'), url('img\Page 1 Right Top.svg');
	background-size: auto;
	background-position: left bottom,center, right top;
	background-repeat: no-repeat,  no-repeat, no-repeat;
	/* background: url("img\Background.svg");
	background-repeat: repeat; */
}
.event_card{
	background-color: inherit;
	border: 0px;
	min-height: 380px;
	margin-top: 10%;
}
.events_btn_img, .events_btn_cer,.events_btn_img_stda{
	background-color: #bfbfbf;
	margin-top: 0px;
	color: white;
	font-weight: 500;
	cursor: pointer;
	line-height: 40px;
	border: 0;
	border-radius: 40px;
	box-shadow: rgba(0, 191, 255, 0) 0 7px 5px;
	min-width: 35px;
}
.events_btn_img {
	position: absolute;
	left: 12%;
	bottom: 5%;
	padding: 0 35px;
}

.events_btn_cer{
	position: absolute;
	right: 12%;
	bottom: 5%;
	padding: 0 25px;
}

.events_btn_img_stda{
	position: absolute;
	bottom: 5%;
	padding: 0 35px;
	text-align: center;
}
.upevents_btn{
	background-color: #00bfff;
	margin-top: 0px;
	color: white;
	font-weight: 500;
	cursor: pointer;
	line-height: 40px;
	border: 0;
	border-radius: 40px;
	box-shadow: rgba(0, 191, 255, 0) 0 7px 5px;
	min-width: 35px;
	position: absolute;
	bottom: 5%;
	padding: 0 35px;
}
.events_btn_img:hover{
	background-color: #00bfff;
}
.events_btn_cer:hover{
	background-color: #00bfff;
}
.events_btn_img_stda:hover{
	background-color: #00bfff;
}

.up_card{
	min-height: 350px;
	background: #f2f2f2;
	border: 0px;
}

.bg-upcard{
		min-height: 328px;
		background: rgb(215, 215, 215);
		border: 0px;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.event_card{
		min-height: 475px;
	}
}

@media only screen and (max-width: 600px) {
	.event_card{
		min-height: 425px;
	}
	#block{
		min-height: 460px;
	}
}

/* EVENT.HTML END */
.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 3px solid #707070;
	border-right: 3px solid #707070;
}

.scroll-down-dude:before {
	-webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-dude:after {
	-webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes down-arrow-before {
	50% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-before {
	50% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@-webkit-keyframes down-arrow-after {
	50% {
		-webkit-transform: rotate(45deg) translate(110%, 110%);
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		-webkit-transform: rotate(45deg) translate(-130%, -130%);
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(-70%, -70%);
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}

@keyframes down-arrow-after {
	50% {
		-webkit-transform: rotate(45deg) translate(110%, 110%);
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		-webkit-transform: rotate(45deg) translate(-130%, -130%);
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(-70%, -70%);
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}
/* end  Scroll */

.page-footer{
	background-color:#EDEDED ;
	max-width: 100%;
	margin-top:15vh;
}
.footer-text{
	text-align:center;
	color: #707070;
	font-weight: 300;
	font-size: 4vh;

}

.page-footer img {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
