html {
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}
.p-0 {
	padding: 0;
}
.mb-0 {
	margin-bottom: 0;
}
/*  navbar  */
.navbar-light .navbar-nav .nav-link {
	color: #707070;
	font-weight: 700;
	 position: relative;
}
.navbar-light .navbar-nav .nav-link.active:after {
	content: "";
  	background: #02A4EF;
  	position: absolute;
  	bottom: 0;
  	left: 38%;
  	top:42px;
  	height: 18%;
  	width: 25%;
}
.navbar-light .navbar-nav .nav-link.active {
	color: black;
/*	border-bottom: 5px solid #02A4EF;
*/	font-weight: 500;
}
.fixed-top {
	background-color: #EDEDED;
}
/*  end-navbar  */
.first-div {
	margin: 0;
	width: 100%;
	height: 100vh;
	background-image: url('Page 1 circle.svg'), url('Page 1 mini circle.svg'), url('Page 1 Left Bottom.svg'), url('Page 1 Right Top.svg'), url('Page 1 Right Bottom.svg');
	background-size: 80% 80%, 40% 40%, 40% 40%, 40% 40%, 40% 40% ;
    background-position: center, left top, left bottom, right top, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}
.centered1,
.centered2,
.centered-logo img{
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 10vh;
	color: #707070;
	font-weight: 700;
}
.centered-logo img{
	top:35%;
	height: 40vh;
	width:40vh;
}
.centered2 {
	top: 70%;
	text-align: center;
	font-size: 2.5vh;
	font-weight: 500;
}
/*    Scroll   */
.scroll-down-dude {
	position: absolute;
	bottom: 0;
	left: 50%;
	padding-bottom: 3em;
}

.scroll-down-dude:before,
.scroll-down-dude:after {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 3px solid #707070;
	border-right: 3px solid #707070;
}

.scroll-down-dude:before {
	-webkit-animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll-down-dude:after {
	-webkit-animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
	animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes down-arrow-before {
	50% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@keyframes down-arrow-before {
	50% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(70%, 70%);
		transform: rotate(45deg) translate(70%, 70%);
	}
}

@-webkit-keyframes down-arrow-after {
	50% {
		-webkit-transform: rotate(45deg) translate(110%, 110%);
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		-webkit-transform: rotate(45deg) translate(-130%, -130%);
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(-70%, -70%);
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}

@keyframes down-arrow-after {
	50% {
		-webkit-transform: rotate(45deg) translate(110%, 110%);
		transform: rotate(45deg) translate(110%, 110%);
		opacity: 0;
	}
	51% {
		-webkit-transform: rotate(45deg) translate(-130%, -130%);
		transform: rotate(45deg) translate(-130%, -130%);
	}
	100% {
		-webkit-transform: rotate(45deg) translate(-70%, -70%);
		transform: rotate(45deg) translate(-70%, -70%);
		opacity: 1;
	}
}
/* end  Scroll */

.leftside, .rightside{
	height: 80vh;
	width: 100%;
}
.leftside img {
	height:70vh;
	width: 100%;
}


.rightside{
	background-image: url('Page 2 circle.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

.headiv2{
	font-size: 10vh;
	color: #707070;
	font-weight: 700;

}
.div2text{
   font-size: 3vh;
   color: #707070;
   font-weight: 100;
   text-align: justify;
}

#div2{
	padding: 20px;
}
.div3head{
	font-size: 10vh;
	color: #707070;
	font-weight: 700;
	text-align: center;
 }
 .third-div{
	 margin-top:10vh;
	 height: 100vh;
 }
 @media only screen and (max-width: 600px) {
	.third-div {
		margin-top: 33vh;
	}
}

@media only screen and (max-width: 500px) {
	.div3img{
		display: none;
}
	
}

@media only screen and (min-width: 500px) {
	.div3slider{
		display: none;
}	
 }
  .div3img{
	
	margin-left: 13%;
	margin-right: auto;
	width: 80%;
	height: 80%;
} 

.domains{
	margin-top: 5vh;
	background-image: url('Page 3 Triangle.svg'), url('Page 3 circle.svg');
	background-size: contain ;
    background-position: right center, left center;
    background-repeat: no-repeat, no-repeat;
}
.page-footer{
	background-color:#EDEDED ;
	max-width: 100%;
	margin-top:15vh;
}
.footer-text{
	text-align:center;
	color: #707070;
	font-size: 25x;

}

.page-footer img {
	height: 30px;
	width: 30px;
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}